
@{
    ViewBag.Title = "Marketing";
}

<h2>Marketing</h2>

<p>
    <a href="@Url.Action("index", "users")">Users</a>
</p>

<p>
    <a href="@Url.Action("index", "goods")">Goods</a>
</p>

<p>
    <a href="@Url.Action("index", "discounts")">Discounts</a>
</p>

<p>
    <a href="@Url.Action("historyind", "history")">History</a>
</p>